page-about {
    .background{
        background-color: darkseagreen
    } 
}
.button{
    background-color: darkgray;
    border: none;
    color: white;
    padding: 40px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:25px;
}